<div style="display: flex">

    <div style="text-align:center">
        <img class="slide-in-blurred-top" width="300" alt="Angular Logo" src="assets/profile_512.jpg">
    </div>
    
    <div style="margin-left: 20px" class="tracking-in-expand-fwd-top">
      <h1>Ivan Blažević</h1>
      <div class="info-section">
        <h2><i class="fas fa-map-marker-alt"></i> Vienna, Austria</h2>
        <h2><i class="fas fa-university"></i> Software Developer</h2>
        <h2><i class="fas fa-envelope"></i>&nbsp;<a href="mailto:iblazevi@gmail.com">iblazevi@gmail.com</a></h2>
        <h2><i class="fas fa-phone"></i> (+43) 664 629 0512</h2>
      </div>      
    </div>
    
</div>

<p class="swing-in-top-fwd">With over 15 years of experience in software development and working with many different technologies, I have found my niche in frontend development. 
  <br>
  At 2013 I have joined a startup from Washington DC where I first got introduced to Angular. A year after being in the company I became a lead and main responsible for the frontend architecture, UI implementation, and quality of the product. 
  
  At January 2018 I joined Palfinger as a part of the IoT team. Very soon I became a lead for UI implementation of the product and moved towards the architecture, improving the communication between multiple teams in terms of code sharing and branding. My greatest passion is UI implementation and frontend in general but I am not foreign with the backend, writing bash scripts, setting up build pipelines or any other non-development work required to ensure reliability and quality of the product. 
  <br>
  I like a pragmatic and simple approach and I am not a fan of buzzwords or over-engineering. I am always glad to share the knowledge and willing to accept critique and other opinions.</p>

<div class="download">
  <a target="_blank" href="assets/CV.pdf"><i class="fas fa-download"></i>&nbsp;<span>Download CV</span></a>
</div>
