$color: #0f81ff;

img {
    border-radius: 100%;
}

.info-section {
    i {
        width: 30px;
        text-align: center;
    }

    a {
        color: $color;
    }
}

p {
    font-size: 18px;
}

h1 {
    font-size: 4em;
    margin-top: 10px;
    margin-bottom: 0px;
}

.download {
    text-align: center;
    padding: 50px 0;
    a {
        text-decoration: none;
    }
}