<div style="display: flex">

    <div style="text-align:center">
        <img class="slide-in-blurred-top" width="300" alt="Angular Logo" src="assets/profile_512.jpg">
    </div>
    
    <div style="margin-left: 20px" class="tracking-in-expand-fwd-top">
      <h1 style="font-size: 4em;    margin-bottom: 0px;">Ivan Blažević</h1>
      <div class="info-section">
        <h2><i class="fas fa-map-marker-alt"></i> Vienna, Austria</h2>
        <h2><i class="fas fa-university"></i> Faculty of Electrical Engineering Osijek, Croatia</h2>
        <h2><i class="fas fa-envelope"></i>&nbsp;<a href="mailto:iblazevi@gmail.com">iblazevi@gmail.com</a></h2>
      </div>
    </div>
    
</div>

<p class="swing-in-top-fwd">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
