<nav>
  <div id="logo" routerLink="/about">
    <div class="profile-image">
      <img src="assets/profile_124.jpg" alt="profile">
    </div>
    <div style="    margin: auto 10px;
        font-size: 26px;
        text-align: left;
        text-transform: capitalize;
        color: gray;">
      <div>ivan</div>
      <div>blažević</div>
    </div>
  </div>

  <ul>
    <li>
      <a routerLink="/experience" routerLinkActive="active"><i class="fas fa-briefcase"></i>Experience</a>
    </li>
    <li>
      <a routerLink="/open-source" routerLinkActive="active"><i class="fas fa-file-code"></i>Open Source</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active"><i class="fas fa-user"></i>About Me</a>
    </li>
  </ul>
</nav>