<div style="height: 320px;display: flex;justify-content: center;">
    <ngx-charts-bar-vertical 
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showGridLines]="showGridLines"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
</div>

<div class="swing-in-left-bck">
    <app-experience-item [data]="e" *ngFor="let e of experiences"></app-experience-item>
</div>
