@import '../../shared/styles/variables';

div {
    width: 50px;
    margin: 10px;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.2,1.2)
    }
}

a {
    color: $secondary-color;
    font-size: 40px;
}